<VirtualHost *:80>

    ServerName vaikuntha.local


    DocumentRoot "/mnt/var/www/html"

    <Directory "/mnt/var/www/html">
        Require all granted
    </Directory>

    <LocationMatch "^/">
        SetHandler dispatcher-handler
    </LocationMatch>

</VirtualHost>